<ul>
  <li *ngFor="let subject of subjects">
    <a [routerLink]="['/subject', subject.id]">{{ subject.name }} ({{ subject.teacher }})</a>
  </li>
</ul>

<form (ngSubmit)="addSubject()">
  <label for="subjectName">Subject Name:</label>
  <input
    id="subjectName"
    type="text"
    [(ngModel)]="newSubjectName"
    name="subjectName"
    placeholder="Enter subject name"
    required
  />
  <br />
  <label for="teacherName">Teacher Name:</label>
  <input
    id="teacherName"
    type="text"
    [(ngModel)]="newSubjectTeacher"
    name="teacherName"
    placeholder="Enter teacher name"
    required
  />
  <br />
  <button type="submit">Add Subject</button>
</form>
